* {
  padding: 0;
  margin: 0;
} /* > Geeft aan dat dit de ruimte is dat je zelf kan aanpassen en niet wat de browser qua ruimte aangeeft */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
    background-color: #ffffff;
  }

  nav ul {
  list-style: none; /*  > Haalt het bolletje weg aan de linker kant */
  display: flex; /* > Zet de inhoud van nav naast elkaar */
  justify-content: flex-end; /* verdeelt ruimte tussen logo en menu */
  text-decoration:none;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  background-color: #06590a;
  text-decoration: none;
  font-size: 18px;
  padding: 11px;
  transition: color 1s;
}

nav ul li {
  align-items: baseline; /* > centreert verticaal */
  background-color: #f0f0f0;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  background-color: #06590a;
  transition: color 0.3s;
}


nav ul li a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
} /* Hoverstate van de nav, dus dit maakt het interactief */

main p:first-of-type {
  font-style: italic;
  text-align: justify;
}

img {
  height: 150px;
  width: 150px;
  margin: 1em;
  padding: 15px 15px;
}

video {
    width: 200px;
    margin: 0.1em;
    padding: 0.2em;
}

/* HEADERS ELEMENTS */
h1 {
  color: rgb(5, 67, 28);
  font-size: 25px;
  text-align: center;
  padding-top: 0.2em;
  padding-left: 0.5em;
}

h2 {
  color: rgb(14, 85, 40);
  font-size: 25px;
  margin: 0.5em;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.3em;
}

h3 {
  color: rgb(119, 20, 37);
  font-size: 20px;
  margin: 0.4em;
  text-align: left;
  padding-top: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
}

h4 {
  color: rgb(9, 25, 94);
  font-size: 18px;
  margin: 0.4em;
  text-align: left;
  padding-top: 1em;
  padding-left: 0.1em;
  padding-bottom: 0.3em;
}

p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: left;
  margin: 0.5em;
  padding-top: 1.5em;  
  padding-left: 6em;
  padding-right: 6em;
  padding-bottom: 0.3em;
}

p span {
  color: rgb(45, 43, 43);  
  font-size: 22px;          
  font-weight: bold;
  }

.custom-list {
  list-style: decimal; /* ^ zal de standaard zijn: 1, 2, 3 */
  padding-left: 9.5em;
  color: #3c2d2d;
  margin: 0.5rem;
  font-size: 1em;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: auto; /* centreert midden van het scherm */
  padding: 1rem;
  background-color: #c7c4c4;
  margin-bottom: 1.5rem;
}

.read-more-btn { 
  display: inline-block;
  padding: 10px 20px; /* 10px → boven en onder, 20px → links en rechts */
  background-color: #4CAF50;
  color: white;   
  text-decoration: none; /* verwijdert de underline */
  border-radius: 5px; /* afgeronde hoeken */
  font-size: 16px;
  transition: background-color 0.6s ease;
  flex-shrink: 0; /* voorkomt dat hij krimpt in flex */
  align-self: center; /* centreert hem verticaal in de flex container */
}

.read-more-btn:hover {
  background-color: #012603;
  font-style: italic;
}

.artists {
  display: flex;
  justify-content: center; /* verdeelt de items midden op de pagina */
  align-items:flex-start;
  flex-wrap: space-around;
  background-color: #beb0b0;
  margin-bottom: 1.5rem;
}

/* Inspiratie gekregen door Fatima Khatib*/
blockquote {
    background-color: #c2c1c1;  
    width: 99%;
    border-left: 8px solid #5a5a5a;
    padding-bottom: 10px;
    text-align: left;
}

cite {
    display: block;
    color: #4f4646;
    font-size: 16px;
}

footer {
  background-color: #5e775f;
  margin-top: 2em;
  text-align:center;
}
 
footer p {
  text-align:center;
  padding: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: lighter;
}
