* {
  padding: 0;
  margin: 0;
}
/* > Geeft aan dat dit de ruimte is dat je zelf kan aanpassen en niet wat de browser qua ruimte aangeeft */


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;   
    background-color: #ffffff;
  }

  nav ul {
  list-style: none;
  /*  > Haalt het bolletje weg aan de linker kant */
  display: flex;
  /* > Zet de inhoud van nav naast elkaar */
  justify-content: flex-end;
  /* verdeelt ruimte tussen logo en menu */
  text-decoration:none;
  padding: 1em;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background-color: #06590a;
    text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  background-color: rgb(64, 152, 96);
  transition: color 0.3s;
}

nav ul li {
  align-items: baseline;
  /* > centreert verticaal */
  background-color: #f0f0f0;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  background-color: rgb(64, 152, 96);
  transition: color 0.3s;

}

/* Hoverstate van de nav, dus dit maakt het interactief */
nav ul li a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: left;
  margin: 1em;
  padding-top: 1.5em;  
  padding-left: 6em;
  padding-right: 6em;

}

img {
  height: 150px;
  width: 150px;
  margin: 1em;
  padding: 1em;
  background-position: center;
}

video {
    width: 300px;
    margin: 2em;
}
/* meer informatie bij de video?: grote aanpassen en ligging? */

/* HEADERS ELEMENTS */
h1 {
  color: rgb(5, 67, 28);
  font-size: 25px;
  text-align: center;
  padding-top: 0.2em;
  padding-left: 0.5em;
}

h2 {
  color: rgb(14, 85, 40);
  font-size: 30px;
  margin: 1em;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.2em;
}

h3 {
  color: rgb(119, 20, 37);
  font-size: 30px;
  margin: 0.1em;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.2em;
}

h4 {
  color: rgb(9, 25, 94);
  font-size: 30px;
  margin: 1em;
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.2em;
}


/* ???:nog controleren en goed doen */

/* classes*/
.custom-list {
  list-style: decimal;
  /* ^ zal de standaard zijn: 1, 2, 3 */
  padding-left: 9.5em;
  color: #3c2d2d;
  margin: 0.5rem;
  font-size: 1em;
  font-weight: bold;
}

/* NOG KIJKEN OF HET GOED IS

.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card-content {
  padding: 1rem;
}

.card .date {
  font-size: 0.8rem;
  color: #777;
}

.card .read-more {
  margin-top: 1rem;
  display: inline-block;
}


*/
/* CARD: page concert */
article {
  background: #afd4af;
  border-radius: 1px;
  box-shadow: 0 4px 12px rgba(131, 125, 125, 0.08);

}


.card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


/* ?: wat houdt dit precies ook in, qua h2 */
.card-content h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

/* door de komma worden beide selectoren aangepast*/
.date, .category {
  font-size: 0.85rem;
  color: #777;
  margin: 0;
}

.card-content h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.read-more {
  margin-top: auto;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  text-decoration: double;
}

.read-more:hover {
  text-decoration: underline;

}


/* deze buttons moeten nog worden uitgezicht, '.button' is het juiste element. */

/*deze nog aanpassen, hoordt geen goede element te zijn voor html*/

.read-more-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  /* verwijdert de underline */
  border-radius: 5px;
  /* afgeronde hoeken */
  font-size: 16px;
  transition: background-color 0.6s ease;
}

.read-more-btn:hover {
  background-color: #06590a;
}

/* boxes van de artist etc */
.container {
  max-width: 600px;
  margin: auto;      /* centreert midden van het scherm */
  padding: 1rem;
  background-color: #c7c4c4;
margin-bottom: 1.5rem;
}

/* RANDOM GRID, dit OF FLEXBOX niet beiden*/
/*  DEZE IS NOG NIET GEKOPPELT
grid-container img:hover {
  transform: scale(1.05);
  filter: none;
  object-fit: cover;
}*/

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    /* De kleur van de knop */
    color: white;
    /* De tekstkleur */
    text-decoration: none;
    /* Verwijdert de standaard onderstreping van de link */
    border-radius: 5px;
    /* Maakt de hoeken van de knop afgerond */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    /* Zorgt voor een mooie overgang bij hover */
}

/* DEZE DOET EIGENLIJKE NIKS? */
.button:hover {
    background-color: blue;
    /* Donkere kleur bij hover */
}

.button:visited {
    color: white;
    /* Behoudt de witte kleur als de link is bezocht */
} 

/* a {
background-color: #4CAF50;
padding: 0.5em;
border-radius: 0.2em;
text-decoration: none;
transtion: background 250ms ease;
}
a:hover {
background-color: #06590a;
transfor: scale (2
}
*/



/* IS GOED, DEZE TEKST VERWIJDEREN + VOLGORDE IN CSS HIERACHY */

/* Inspiratie gekregen door Fatima Khatib*/
blockquote {
    background-color: #c2c1c1;
    width: 99%;
    border-left: 4px solid #5a5a5a;
    margin: 10px 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

blockquote p {
    text-align: left;
    color: rgb(0, 0, 0)
}

cite {
    display: block;
    color: #4f4646;
}

footer {
  background-color: #5e775f;
  padding: 0.5em;
  margin-top: 2em;
  padding: 0.1em;
  text-align:center;
}
 
footer p {
  text-align:center;
  padding: 0.1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  font-weight: lighter;

}
